<header class="header-home">
    <div class="contenedor-header">
        <section class="logo">
            <img src="/images/logo-mobile.jpg" alt="Logo TecnoRobot" class="logo-mobile">
            <img src="/images/TecnoRobot.jpg" alt="Logo TecnoRobot" class="tablet">
        </section>
        <section class="barra-busqueda">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Buscar...">
        </section>
        <section class="iconos-header">
            <i class="fas fa-shopping-cart"></i>
            <nav class="mobile">
                <i class="fas fa-ellipsis-v"></i>
            </nav>
            <i class="fas fa-user user-account-icon"></i>
        </section>
    </div>
</header>