<header class="header-home">
    <div class="contenedor-header">
        <section class="logo">
            <img src="/images/logo-mobile.jpg" alt="Logo TecnoRobot" class="logo-mobile">
            <img src="/images/TecnoRobot.jpg" alt="Logo TecnoRobot" class="tablet">
        </section>
        <section class="barra-busqueda">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Buscar...">
        </section>
        <section class="iconos-header">
            <a href="/carrito"> <i class="fas fa-shopping-cart"></i></a>
            <nav class="mobile">
                <i class="fas fa-ellipsis-v"></i>
            </nav>
            <a href="/login"><i class="fas fa-user user-account-icon"></i> </a>
        </section>
    </div>
    <nav class="desktop">
        <ul>
            <li> <a href="/"> Inicio </a> </li>
            <li> <a href="#"> Categorías </a> </li>
            <li> <a href="#"> Marcas </a> </li>
            <li> <a href="#"> Cursos </a> </li>
            <li> <a href="#"> Nosotros </a> </li>
            <li> <a href="/products"> Tienda </a> </li>
        </ul>
    </nav>
</header>
