<header class="header-home">
    <div class="contenedor-header">
        <section class="logo">
            <img src="/images/logo-mobile.jpg" alt="Logo TecnoRobot" class="logo-mobile">
            <img src="/images/TecnoRobot.jpg" alt="Logo TecnoRobot" class="tablet">
        </section>
        <section class="barra-busqueda">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Buscar...">
        </section>
        <section class="mobile">
            <i class="fas fa-ellipsis-v"></i>
        </section>
        <section class="iconos-header">
            <a class="carritoBtn" href="/carrito"> <i class="fas fa-shopping-cart"></i>
                <section class="cartList">
                    <ul>
                        <li></li>
                        <li>Nombre</li>
                        <li>Precio</li>
                        <li>Cantidad</li>
                    </ul>
                </section>
            </a>
            
            <% if(locals.userLogueado) { %>
                <div class="user-options-container">
                    <a href="/perfil" class="userBtn-header"> Hola, <%= userLogueado.name %> </a>
                    <section class="userOptions">
                        <ul>
                            <li><a href="/perfil"> Mi cuenta <i class="fas fa-user-circle"></i></a></li>
                            <li><a href="/user/logout"> Cerrar sesión <i class="fas fa-sign-out-alt"></i></a></li>
                            <% if(userLogueado.rol === 1) { %>
                                 <li><a href="/adminDash"> Dashboard <i class="fas fa-tachometer-alt"></i></a></li>
                            <% } %>
                        </ul>
                    </section>
                </div>
            <% } else { %>
            <a href="/login"><i class="fas fa-user user-account-icon"></i> </a>
            <% } %>
        </section>
    </div>
    <nav class="desktop">
        <ul>
            <li> <a href="/"> Inicio </a> </li>
            <li> <a href="#"> Categorías </a> </li>
            <li> <a href="#"> Marcas </a> </li>
            <li> <a href="#"> Cursos </a> </li>
            <li> <a href="#"> Nosotros </a> </li>
            <li> <a href="/products"> Tienda </a> </li>
        </ul>
    </nav>

</header>
