<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="slider-container">

        <ul class="slider" id="slider">
            <li class="slides"></a><img class="img-slider" src="/images/vaccum-clenar.jpg" alt=""></li>
            <li class="slides"><img class="img-slider" src="/images/girl-class.jpg" alt=""></li>
            <li class="slides"><img class="img-slider" src="/images/vaccum-clenar.jpg" alt=""></li>
        </ul>
    </div>
    
    
   

    <%- include('../partials/footer.ejs') %>
    <script src="/js/productList.js"></script>
</body>

</html>