<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <div class="slider-container">

        <ul class="slider" id="slider">
            <li class="slides"></a><img class="img-slider" src="/images/vaccum-clenar.jpg" alt=""></li>
            <li class="slides"><img class="img-slider" src="/images/girl-class.jpg" alt=""></li>
            <li class="slides"><img class="img-slider" src="/images/vaccum-clenar.jpg" alt=""></li>
        </ul>
    </div>
         <h1 class="h1Currencies">Listado de Monedas </h1>
    <form class="formularioCurrencies" action="">
        <label class="labelMoneda" for="fname">Moneda:</label><br>
        <select class="formularioMoneda" name="currency">
            <option value="Pesos">Pesos</option>
            <option value="Dolares">Dolares</option>
            <option value="Euros">Euros</option>
        </select>
        <label class="labelSymbol" for="lname">Symbol:</label><br>
        <select class="formularioSymbol" name="currency">
            <option value="AR$">AR$</option>
            <option value="US$">US$</option>
            <option value="€">€</option>
        </select>
        <br>
        <br>
        <br>
        <button class="button">Agregar</button>
        <button class="button button2">Editar</button>
        <button class="button button3">Eliminar</button>

        

      </form> 
    <%- include('./partials/footer.ejs') %>
    <script src="/js/productList.js"></script>
</body>

</html>