<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Tecnorobot </title>
    <link rel="icon" type="image/jpg" href="/images/logo-mobile.jpg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/944daabda3.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;800&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <header class="header-home">
        <div class="contenedor-header">
            <section class="logo">
            <img src="/images/logo-mobile.jpg" alt="Logo TecnoRobot" class="logo-mobile">
                <img src="/images/TecnoRobot.jpg" alt="Logo TecnoRobot" class="tablet">
            </section>
            <section class="barra-busqueda">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Buscar...">
            </section>
            <section class="iconos-header">
                <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>
                <nav class="mobile">
                    <i class="fas fa-ellipsis-v"></i>
                </nav>
                <a href="/login"><i class="fas fa-user user-account-icon"></i></a>
            </section>
        </div>
    </header>

    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>  
    <nav class="desktop">
        <ul>
            <li> <a href="/"> Inicio </a> </li>
            <li> <a href="#"> Categorías </a> </li>
            <li> <a href="#"> Marcas </a> </li>
            <li> <a href="#"> Cursos </a> </li>
            <li> <a href="#"> Nosotros </a> </li>
            <li> <a href="#"> Tienda </a> </li>
        </ul>
    </nav>
        <div class="product">
            <div class="img_container">
                <img id="imagebox" src="/images/vaccum-robot.jpg">
            
                <div class="cont-img-sall">
                <div class="product-small-img">
                <img src="/images/trapeador.jpg" onclick="mifuncion(this)">
                <img src="/images/aspiradora200.jpg"onclick="mifuncion(this)">
                <img src="/images/mycook-touch.webp" onclick="mifuncion(this)">
                <img src="/images/vaccum-robot.jpg" onclick="mifuncion(this)">
                </div>
                </div>
            </div>
        
            
            
        
        
    <script type="text/javascript">
        function mifuncion(smallImg){
            var fullImg=document.getElementById("imagebox");
            fullImg.src=smallImg.src;
        }
    </script>
    <div class="detail-contenedor">
            <hr size="4" width="100%" color="">
            <div class="caja_titulo1">
            <h1 class="titulo_detail">Trapeador 2°</h1>
                    <div class="star_caja">
                    <div class="iconos_calificar">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    </div>
                    </div>
            </div>
            <div class="caja-car">
                <div class="iconos_carrito">
                <i class="fas fa-cart-plus"></i>
                    <a href="" class="agregar"></a>
                </div>
            </div>
        <hr size="4" width="100%" color="">
        <div class="Caja-pm"></div>
        <h2 class="precios-T">$ 123</h2>
        <div class="seleccion">
        <select class="selector">
            <option>Modelo 1</option>
            <option>Modelo 2</option>
            <option>Modelo 3</option>
        </div>
        </select>
        <p class="parrafo-d">Bienvenido al proceso de trapeo en su máxima expresión.<br> El robot trapeador es la apuesta más avanzada y limpia tal<br> y como tú lo harías. El máximo robot trapeador con pulverizador<br>de chorro a presiónayuda a hacerse cargo de las manchas pegajosas,<br>la suciedad y la grasa de la cocina con menos esfuerzo de su parte.<br>¡ justo para los programadores full stack que no les queda tiempo !.</p>
        </div> 
    </div>    
</div>
<hr width="100%" color="">
    <div class="container-product">
        <h2 class="subtitulos-p">Productos Similares</h2>
        <div class="caja-producto">
            <div class="product_similars">   
            <img src="/images/aspiradora200.jpg">
            <div class="ti-pr">
            <h4 class="cook">Trapeador Eco</h4>
            <div class="estrellas">
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            </div>  
            </div>
            <div class="product_similars">
            <img src="/images/aspiradora200.jpg">
            <div class="ti-pr">
            <h4 class="cook">Trapeador flex</h4>
            <div class="estrellas">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            
                <i class="far fa-star"></i>
            </div>
            </div>
            </div>
            <div class="product_similars">
            <img src="/images/mycook-touch.webp">
            <div class="ti-pr">
            <h4 class="cook">Cocina Inteligente</h4>
            <div class="estrellas">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            </div>
            </div>
            <div class="product_similars">
            <img src="/images/cortadora-cesped.webp">
            <div class="ti-pr">
            <h4 class="cook">Aspiradora</h4>
            <div class="estrellas">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            </div>
            </div>
        </div>
    </div>
        <hr width="100%" color="">
    
    

<section class="testimonios">
    <div class="testimonios_footer">
        <span>Comentarios</span>
    </div>
    <div class="testimonios-contenedor">
        <div class="testimonios-caja">
            <div class="caja-top">
                <div class="perfil">
                    <div class="perfil-img">
                        <img src="/images/perfil -dma.jpg">
                    </div>
                    <div class="name-user">
                        <strong>Juanita La Peligrosa</strong>
                    </div>
                </div>
                <div class="reseñas">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div> 
            
            
            <div class="comentarios-clientes">
                <p>Como programdora full stack me sirvio bastante con la limpieza de mi hogar, ya que no me queda tiempo para nada...ni para socializar.</p>
            </div>
        </div>
        <div class="testimonios-caja">
            <div class="caja-top">
                <div class="perfil">
                    <div class="perfil-img">
                        <img src="/images/perfil-cabllero.png">
                    </div>
                    <div class="name-user">
                        <strong>mark zuckerberg</strong>
                    </div>
                </div>
                <div class="reseñas">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div> 
            
            
            <div class="comentarios-clientes">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis similique eveniet odio</p>
            </div>
        </div>
    </div>
    <div class="boton-agregar">
    <button class="add-boton" type="submit" value="añadir comentario">Añadir Comentario</button>
    </div>
    
</section>
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%- include('../partials/footer.ejs') %>
</body>


</html>    